language: python
matrix:
  include:
    - python: "2.7"

virtualenv:
  system_site_packages: true

before_install:
 - sudo apt-get install -qq python-pytest

before_script:
  - python ./setup.py install
script: pytest