language: python
python:
  - 2.7
  - 3.6
dist: trusty
matrix:
  include:
    - python: 3.7
      dist: xenial
      sudo: true
cache: pip

addons:
  apt:
    packages:
      - libxml2-utils

before_install:
  # Work around ludicrous Travis bug
  - git clone https://github.com/SpiNNakerManchester/SupportScripts.git support
  - python support/travis_blocking_stdout.py
  # Bring pip up to date 
  - pip install --upgrade pip setuptools wheel
  - pip install --only-binary=numpy,scipy numpy scipy
  # SpiNNakerManchester internal dependencies; development mode
  - support/pipinstall.sh git://github.com/SpiNNakerManchester/SpiNNUtils.git
  - support/pipinstall.sh git://github.com/SpiNNakerManchester/SpiNNMachine.git

install:
  - pip install -r requirements-test.txt
  - pip install python-coveralls 'coverage>=4.4'
  - python ./setup.py install

script:
  - py.test unittests --cov=pacman
  # Currently no integration tests
  # - py.test integration_tests
  # Code quality check
  - flake8 pacman
  - flake8 integration_tests unittests uinit_test_objects
  - find pacman -name '*.xml' | xargs -n 1 support/validate-xml.sh 
  - cd doc/source
  - sphinx-build -T -E -b html -d _build/doctrees-readthedocsdirhtml -D language=en . _build/html
  - sphinx-build -T -b json -d _build/doctrees-json -D language=en . _build/json
  - sphinx-build -T -b singlehtml -d _build/doctrees-readthedocssinglehtmllocalmedia -D language=en . _build/localmedia

after_success:
  - cd $TRAVIS_BUILD_DIR
  - coveralls
